In [1]:
import geopandas as gpd
import pandas as pd

In [8]:
# load geojson indice3ans_epsg_4326.geojson
df1 = gpd.read_file(r"indice3ans_epsg_4326_light.geojson")
display(df1.head(),df1.shape)

,EGID,ADRESSE,ANNEE,SRE,INDICE,geometry
0,1011010.0,Rue CAVOUR 20,2011,1525.9,577.0,"MULTIPOLYGON (((6.13290 46.20727, 6.13282 46.2..."
1,1011010.0,Rue CAVOUR 20,2012,1525.9,536.0,"MULTIPOLYGON (((6.13290 46.20727, 6.13282 46.2..."
2,1011616.0,Rue du Prieuré 1,2011,1401.9,653.0,"MULTIPOLYGON (((6.14909 46.21319, 6.14903 46.2..."
3,1011616.0,Rue du Prieuré 1,2012,1401.9,677.0,"MULTIPOLYGON (((6.14909 46.21319, 6.14903 46.2..."
4,1014985.0,Rue du Grand-Pré 49,2011,1874.6,633.0,"MULTIPOLYGON (((6.13317 46.21489, 6.13315 46.2..."

(183981, 6)

In [12]:
df2 = df1.sample(frac =.1)
display(df2.head(),df2.shape)
df2.sort_values(by(['EGID']), inplace=True)

,EGID,ADRESSE,ANNEE,SRE,INDICE,geometry
136772,2037225.0,rue corraterie 22,2017,1519.0,211.0,"MULTIPOLYGON (((6.14325 46.20230, 6.14317 46.2..."
106515,1015379.0,Avenue De-BUDÉ 3,2017,2162.0,526.0,"MULTIPOLYGON (((6.13131 46.22429, 6.13117 46.2..."
164179,2038258.0,Avenue SORET 30,2021,2593.8,406.0,"MULTIPOLYGON (((6.12495 46.21152, 6.12495 46.2..."
25848,2039242.0,Rue du Marché 11 - Rue du Rhône 46,2011,11131.0,225.0,"MULTIPOLYGON (((6.14653 46.20359, 6.14650 46.2..."
117456,295157513.0,Rue Edouard-VALLET 18,2018,2935.6,235.0,"MULTIPOLYGON (((6.09080 46.18246, 6.09074 46.1..."

(18398, 6)

NameError: name 'by' is not defined

In [13]:
# save df1 as geojson
df2.to_file(r"indice3ans_epsg_4326_superlight.geojson", driver='GeoJSON')